<h1 style="text-align:center;color:brown;">Rent You'r Dream Car</h1>
<p style="text-align:center;color:red;">
You nee to Register for getting our Services
</p>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
